<template>
  <button
    class="btn"
    :style="[
      green
        ? { background: 'rgba(62, 245, 42, 0.681)' }
        : { background: 'rgba(255, 0, 0, 0.725)' },
    ]"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "Start",
    },
    green: {
      type: Boolean,
    },
  },
};
</script>

<style scoped>
.btn {
  width: 100px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;

  outline: none;
  border: none;
  color: #fff;
  transition: 100ms ease-in-out;
  cursor: pointer;
}
.btn:hover {
}
</style>
