<template>
  <div class="parent-container">
    <h1 class="count">{{ count }}</h1>
    <div class="buttons">
      <button class="decrement" @click="decrease">-</button>
      <button class="increment" @click="increase">+</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "CounterComp",

  data() {
    return {
      count: 0,
    };
  },
  methods: {
    decrease() {
      this.count -= 1;
    },
    increase() {
      this.count += 1;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.parent-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}

.count {
  font-size: 55px;
  color: #ffffff;
}
.buttons {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 35px;

  transition: 200ms ease-in-out;
}
button:hover {
  background: #fff;
  transform: scale(1.15);
}

button:active {
  transform: scale(0.9);
  background: #56bbf1;
}
</style>
