<template>
  <div class="parent">
    <h1 class="runningTime">{{ time > 0 ? `${time} sec` : "Time is Up!" }}</h1>
    <div class="tab">
      <input
        type="number"
        name="time"
        id="timeInput"
        placeholder="Time in Sec"
        v-model="setTime"
      />
      <div class="btns" @click="toggle">
        <ButtonComp v-if="!running" text="Start" :green="true" />
        <ButtonComp v-else text="Stop" :green="false" />
      </div>
    </div>
  </div>
</template>

<script>
import ButtonComp from "./ButtonComp.vue";
export default {
  components: { ButtonComp },
  data() {
    return {
      running: false,
      interval: null,
      time: 60,
      setTime: 60,
    };
  },
  methods: {
    toggle() {
      if (!this.running) {
        this.time = this.setTime;
        this.setTime = null;
      }
      this.running = !this.running;
      this.timer();
    },
    timer() {
      if (this.running) {
        setTimeout(() => {
          this.time -= 1;
          this.timer();
        }, 1000);
      }
    },
  },
};
</script>

<style scoped>
.parent {
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
}
h1 {
  font-size: 90px;
  color: #fff;
}
.tab {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px;
  gap: 2vw;
  background-color: #e4e4e481;
  border-radius: 10px;
}
.btns {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background: rgba(255, 255, 255, 0.448);
  border: none;
  width: 120px;
  outline: none;
  height: fit-content;
  padding: 15px;
  color: aliceblue;
  border-radius: 6px;
}
</style>
